body {
    margin: 0;
    font-family: 'Oxanium', sans-serif;
    padding-top: 60px; /* Adjust based on navbar height */
  }

  
/* Main Section */
.hero {
    background-image: url('pictures/dream.webp');
    background-position: center;
    background-size: cover; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
    background-repeat: no-repeat;
    background-color: #333; /* Fallback color, if picture doesn't load */
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero-content {
    position: relative;
    z-index: 1;
    padding: 20px;
    font-family: 'Oxanium', sans-serif;
}

.hero h2 {
    margin: 0;
}

.hero p {
    margin-top: 20px;
}

/* Navbar */
.navbar {
    background-color: #b8bdc1 !important; 
    font-family: 'Oxanium', sans-serif;
}
  
.navbar .nav-link {
    color: #333 !important; 
    font-family: 'Oxanium', sans-serif;
}
  
.navbar .nav-link:hover {
    color: #007bff !important;
}
